<section class="vh-100" style="background-color: #e2d5de;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <h6 class="mb-3">Awesome Todo List</h6>
  
              <form class="d-flex justify-content-center align-items-center mb-4" [formGroup] = "myForm" (ngSubmit) = "add()">
                <div class="form-outline flex-fill">
                  <label class="form-label" for="form3">Task</label>
                  <input type="text" id="form3" class="form-control form-control-lg" formControlName = "title"/>
                </div>
                <button type="submit" class="btn btn-primary btn-lg ms-2">Add</button>
              </form>
  
              <ul class="list-group mb-0" *ngIf = "tasks.length > 0">
                <li
                *ngFor = "let t of tasks"
                  class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                  <div class="d-flex align-items-center" *ngIf = "t.title">
                    <input class="form-check-input me-2" type="checkbox" (click) = "update(t)" [checked] = "t.isCompleted" aria-label="..." />
                    {{t.title}}
                  </div>
                  <button type="button" class="close" aria-label="Remove" (click) = "delete(t)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </li>
              </ul>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
