<!-- UR: https://mdbootstrap.com/docs/standard/extended/registration/#! -->

<section *ngIf = "switchToLogin == false && registered == false" class="vh-100 bg-image"
  style="background-image: url('assets\background.png');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup] = "myForm">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input type="text" id="form3Example1cg" formControlName = "name" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" formControlName = "email" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" id="form3Example4cg" formControlName = "password" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <input type="password" id="form3Example4cdg" formControlName = "confirmpassword" class="form-control form-control-lg" />
                  <div *ngIf = "myForm?.hasError('passwordMismatch')" class ="text-danger">
                    Passwords do not match.
                  </div>
                </div>
                <div *ngIf = "errorMessage" class = "text-danger">
                  {{ errorMessage }}
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled] = 'registering || !myForm.valid' (click) = "register()">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <button
                  (click) = "goToLoginComponent()" class="fw-bold text-body"><u>Login here</u></button></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dashboard *ngIf = "registered == true"></app-dashboard>
<app-login *ngIf = "switchToLogin == true"></app-login>